<h1>Cart</h1>
 <table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Qty</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
     
    </tbody>
 </table>